<!DOCTYPE html>  
<html>  
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>DF Integration Service</title>
	
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="/css/site.css" />

</head>  
<body ng-app="app" ng-controller='CoreController as core'>

    <div>

        {{! adding header.html}}
        {{> header}}
            
        {{! adding the view itself }}
        {{{content}}}

    </div>

    {{! adding footer.html}}
    {{> footer}}

  
</body>  
</html>  