footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #101010;
}

md-toolbar {
    background-color: #101010 !important;
}

td {
    width: 300px;
}
input {
    width: 280px;
}