
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-material/angular-material.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="/bower_components/moment/min/moment.min.js"></script>

    <script src="/app.js"></script>
    <script src="/core/core.controller.js"></script>
    <script src="/home/home.module.js"></script>
    <script src="/home/home.controller.js"></script>

    <footer/>
