<md-card class="homeview">
    <div>
        <form>

            <div layout="row" layout-align="space-around center">
                <div ng-repeat="(key, value) in config" style="margin:10px">
                    <md-input-container>
                        <label>{{key}}</label>
                        <md-slider ng-model="config[key]" min="1" max="10"></md-slider>
                        <input ng-model="config[key]" type="number" step="1"/>
                    </md-input-container>
                </div>
                <div>
                    <button style="margin:10px" ng-click="save()">Save</button>
                </div>
            </div>
            
        </form>
    </div>
</md-card>